<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>

<body>
    <main>
        <div>
            <h1>{{ todo_lists.name }}</h1>
            <p>
                <a href="{% url 'todo_list_update' todo_lists.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' todo_lists.id %}">Delete</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <td>Task</td>
                        <td>Due Date</td>
                    </tr>
                </thead>
                <tbody>
                    {% for list in todo_lists.items.all %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_item_update' list.id %}">{{ list.task }}</a>
                        </td>
                        <td>{{ list.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>